@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit/static/Outfit-Bold.ttf);
  font-weight: bold;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --title-weight: 700;
  --sub-title-weight: 400;

  font-family: Outfit;
  font-size: 15px;
  letter-spacing: 0.02rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 15px 35px rgb(0 0 0 / 10%);
  width: 320px;
  padding: 16px;
}

.qr-code {
  max-width: 290px;
  max-height: 290px;
}

.qr-code > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
}

.legend {
  margin-bottom: 10px;
}

.title {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sub-title {
  color: var(--grayish-blue);
  padding: 0 15px;
  margin: 15px 0;
}
